{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
   <h1 id="head">
       <img src="{% static 'solmusic/img/logo.png' %}" alt="Solmusic" class="brand_img"> Admin Area
   </h1>
{% endblock %}

{% block extrastyle %}
<style>
    #header {
        height: 50px;
        background: #10284e;
        color: #fff;
    }

    #branding h1 {
        color: #fff;
    }

    a:link, a:visited {
        color: #10284e;
    }

    div.breadcrumbs {
        background: #fc0254;
        color: #333;
    }

    div.breadcrumbs a {
        color: #333;
    }

    .module h2, .module caption, .inline-group h2 {
        background: #fc0254;
    }

    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: #10284e;
        color: #fff;
    }
</style>
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}